/* Etiquetas HTML*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Calibri', 'Arial';
    box-sizing: content-box;
}

a {
    text-decoration: none;
    color: darkolivegreen;
}

h1 {
    padding-left: 5px;
}

nav ul,
li {
    list-style: none;
}

body {
    background-color: black;
}

textarea {
    resize: none;
    width: 400px;
    height: 100px;
}

header img {
    width: 100%;
}

fieldset {
    background-color: white;
    margin-top: 5em;
}


/*id*/

#contenedor {
    margin: 0 auto;
    background-color: blanchedalmond;
}

#contenedor {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    width: 80%;
}

#contenedor-canciones {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    width: 80%;
    background-color: blanchedalmond;
}

#formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 40%;
}

#formulario {
    justify-content: center;
}

#formulario label {
    align-self: flex-start;
    margin: 8px 0 8px 8px;
}

#formulario input,
#formulario textarea,
#formulario select {
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid black;
}


/*Clases*/

.der {
    padding-left: 5px;
}

.nav-menu a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 20px;
    background-color: ghostwhite;
}

.nav-menu ul {
    display: flex;
    justify-content: center;
}

.ul-albumes {
    display: flex;
    padding-left: 5px;
}

.seccion_grupo {
    display: inline-block;
    margin: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.0);
    transition: box-shadow 0.2s;
    transition: rotate 0.2s;
    vertical-align: top;
    text-align: center;
}

.seccion_grupo p {
    max-width: 200px;
}

.seccion_grupo:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transform: rotate(2deg);
}

.seccion_grupo img {
    width: 100%;
}

.gris {
    background-color: darkolivegreen;
}

.seccion_grupo a {
    color: rgb(116, 73, 63);
    font-weight: bold;
    font-size: 18px;
}

.seccion_canciones {
    margin: 5px 0 0 10px;
    display: flex;
    width: 400px;
    background-color: blanchedalmond;
}

.prueba {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prueba-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redondeado-parcial {
    border-radius: 5px;
}

.redondeado-total {
    border-radius: 50%;
}

.iconos {
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
}

.iconos img {
    vertical-align: top;
    width: 20px;
}

.iconos:hover {
    background-color: rgb(207, 207, 207);
}

.columna {
    display: flex;
    justify-content: center;
}

.formulario {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 50%;
    max-width: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-btn {
    margin-top: 1em;
    margin-left: 100px;
}

.h2-error {
    color: red;
    text-align: center;
}

.seccion-cuerpo {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 5em;
}

.cuerpo-formulario {
    width: 50%;
    margin: 5em auto;
    padding-bottom: 5em;
}

.cuerpo-formulario form {
    display: flex;
}

.cuerpo-formulario input {
    max-width: 90%;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid black;
}

.seccion-btn {
    margin-top: 2em;
    display: flex;
    margin-bottom: 6px;
}

.seccion-btn input {
    margin: 0 0.5em;
    font-size: 1.25em;
}

.seccion-btn input:hover {
    background-color: rgb(156, 229, 83);
}

.pag {
    display: flex;
    justify-content: center;
    align-items: center;
}