* {
    font-family: "Calibri";
    margin: 0;
    padding: 0;
}

header img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #0151A3;
}

a:visited {
    color: #A20000;
}

a:hover {
    color: #F60;
}

#contenedor {
    margin: 0 auto;
    width: 80%;
}

.detalle_contacto {
    display: inline-block;
    vertical-align: top;
}

.iconos {
    display: inline-block;
}

.iconos img {
    width: 20px;
    padding-left: 2px;
}

.iconos img:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.contacto {
    margin-top: 1em;
}

.negrita {
    font-weight: bold;
}