* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.cuadro {
    width: 350px;
    height: 500px;
    position: relative;
    display: block;
    float: left;
    margin-top: -15px;
    margin-right: 0%;
}

.img {
    position: absolute;
    display: block;
}

.img:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-left: -300px;
}

.raza {
    text-decoration: none;
    color: black;
    position: absolute;
    display: block;
    border: 3px solid black;
    font-weight: bolder;
    opacity: 0.6;
    font-size: 200%;
    font-family: "Homer Simpson UI";
}

.peso {
    text-decoration: none;
    color: black;
    position: absolute;
    display: block;
    left: 270px;
    border: 3px solid black;
    font-weight: bolder;
    opacity: 0.6;
    font-size: 200%;
}

#campo1 {
    position: relative;
    right: -500px;
    top: -30px;
    padding-bottom: 20px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    font-size: 200%;
}

.h1 {
    padding-top: 30px;
    position: relative;
    right: -40px;
    top: 44px;
    font-size: 280%;
    font-family: fantasy;
}

.h1php {
    text-align: center;
    font-size: 300%;
    font-family: fantasy;
}

.raza1 {
    font-weight: bolder;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 200%;
    font-family: cursive;
}

.peso1 {
    font-weight: bolder;
    text-align: center;
    font-size: 200%;
}

.pjs {
    font-weight: bolder;
    color: red;
}

#contenedor1 {
    margin-left: 138px;
}

.col-4 {
    width: 33.33%;
    padding-top: 15px;
    padding-bottom: 12px;
}

.col-8 {
    width: 66.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.col-3 {
    width: 25%;
}

.icon {
    background-color: blanchedalmond;
    font-size: 40px;
    padding: 5px;
    display: flex;
    justify-content: right;
    align-items: right;
}

.icon2 {
    font-size: 40px;
    padding: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

#a {
    overflow: hidden;
}

a:hover {
    -webkit-transform: scale(2);
    transform: scale(1.3);
}

div.flex {
    overflow: hidden;
}

div.flex:hover {
    -webkit-transform: scale(2.1);
    transform: scale(2.1);
}

nav {
    background-color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    padding-top: 15px;
    padding: 5%;
}


/* slider */

.slider {
    border-radius: 5px;
    box-shadow: 5px 5px hsl(0, 0%, 76%);
    position: relative;
}

.slider ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slider ul li {
    position: relative;
    display: none;
    height: 350px;
}

.slider ul li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.slider ul li span {
    position: absolute;
    bottom: 0;
    background: hsl(0, 1%, 72%, .1);
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #fff;
}


/* buttons */

.slider .buttons {
    position: absolute;
    top: 40%;
    width: 100%;
}

.slider .buttons .next {
    font-size: 2rem;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
}

.slider .buttons .prev {
    font-size: 2rem;
    left: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
}

.slider .buttons .next:hover {
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 93%);
}

.slider .buttons .prev:hover {
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 93%);
}


/* slider animation */

.slider ul li {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/*X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}