* {
    font-family: "Calibri";
    margin: 0;
    padding: 0;
}

header img {
    width: 100%;
}

a {
    text-decoration: none;
}

#contenedor {
    margin: 0 auto;
    width: 80%;
}

.seccion_grupo {
    display: inline-block;
    margin: 3em;
    width: 17%;
    border-radius: 15px;
}

.seccion_grupo:hover {
    background-color: greenyellow;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .7);
}

.seccion_grupo img {
    width: 100%;
}

.seccion_albumes {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.seccion_albumes img {
    border-radius: 50%;
}

.negrita {
    font-weight: bold;
}

.seccion_grupo div {
    padding: 0.5em;
}

.seccion_grupo p {
    text-align: center;
    font-size: 20px;
}

.seccion_grupo a {
    color: #808080
}